<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles\index.css">
    <link rel="stylesheet" href="addons\ripple.css">
    <link rel="icon" type="image/x-icon" href="icons\day\116.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0a57beecd2.js" crossorigin="anonymous"></script>
    
    <title>Weather Vision</title>
</head>
<body>
    <header>
        <h1>Weahter Vision</h1>
        <input id="search-input" type="text" placeholder="City">

        <input type="submit"  id="search-btn" value="Search">
            
        
    </header>
    
    <main id="main">
        <div id="current-weather-container">
            <div id="city-weather">
                <h2>Veliko Tarnovo</h2>
                <h1>223 C</h1>
                <h3>Good weather</h3>
                <p>24/34 feels like 33</p>
                <p>Friday 12:33</p> 
            </div>
            <div id="weather-icon-button-holder">
                <img src="icons\day\113.png" alt="weather icon">
                <button>Live Weather</button>
            </div>
            
        </div>

    <div id="containers">
   
        <div id="slider" class="ripple-hover ripple-click">
            <div id="slider-inner">
                <div class="slide-info">
                    <p>20:22</p>
                    <img src="icons\day\113.png">
                    <p>32 C</p>
                    <p class="chance-icon" class="chance-icon"><span><i class="fa-solid fa-droplet"></i> 20%</span></p>
                </div>
                <div class="slide-info">
                    <p>20:00</p>
                    <img src="icons\day\113.png">
                    <p>32 C</p>
                    <p class="chance-icon"><span><i class="fa-solid fa-droplet"></i> 20%</span></p>
                </div>
                <div class="slide-info">
                    <p>20:00</p>
                    <img src="icons\day\113.png">
                    <p>32 C</p>
                    <p class="chance-icon"><span><i class="fa-solid fa-droplet"></i> 20%</span></p>
                </div>
                <div class="slide-info">
                    <p>20:00</p>
                    <img src="icons\day\113.png">
                    <p>32 C</p>
                    <p class="chance-icon"><span><i class="fa-solid fa-droplet"></i> 20%</span></p>
                </div>
                <div class="slide-info">
                    <p>20:00</p>
                    <img src="icons\day\113.png">
                    <p>32 C</p>
                    <p class="chance-icon"><span><i class="fa-solid fa-droplet"></i> 20%</span></p>
                </div>
                <div class="slide-info">
                    <p>20:00</p>
                    <img src="icons\day\113.png">
                    <p>32 C</p>
                    <p class="chance-icon"><span><i class="fa-solid fa-droplet"></i> 20%</span></p>
                </div>
                <div class="slide-info">
                    <p>20:00</p>
                    <img src="icons\day\113.png">
                    <p>32 C</p>
                    <p class="chance-icon"><span><i class="fa-solid fa-droplet"></i> 20%</span></p>
                </div>
                <div class="slide-info">
                    <p>20:00</p>
                    <img src="icons\day\113.png">
                    <p>32 C</p>
                    <p class="chance-icon"><span><i class="fa-solid fa-droplet"></i> 20%</span></p>
                </div>
                <div class="slide-info">
                    <p>20:00</p>
                    <img src="icons\day\113.png">
                    <p>32 C</p>
                    <p class="chance-icon"><span><i class="fa-solid fa-droplet"></i> 20%</span></p>
                </div>
                <div class="slide-info">
                    <p>20:00</p>
                    <img src="icons\day\113.png">
                    <p>32 C</p>
                    <p class="chance-icon"><span><i class="fa-solid fa-droplet"></i> 20%</span></p>
                </div>
                <div class="slide-info">
                    <p>20:00</p>
                    <img src="icons\day\113.png">
                    <p>32 C</p>
                    <p class="chance-icon"><span><i class="fa-solid fa-droplet"></i> 20%</span></p>
                </div>
                <div class="slide-info">
                    <p>20:00</p>
                    <img src="icons\day\113.png">
                    <p>32 C</p>
                    <p class="chance-icon"><span><i class="fa-solid fa-droplet"></i> 20%</span></p>
                </div>
                <div class="slide-info">
                    <p>20:00</p>
                    <img src="icons\day\113.png">
                    <p>32 C</p>
                    <p class="chance-icon"><span><i class="fa-solid fa-droplet"></i> 20%</span></p>
                </div>
                <div class="slide-info">
                    <p>20:00</p>
                    <img src="icons\day\113.png">
                    <p>32 C</p>
                    <p class="chance-icon"><span><i class="fa-solid fa-droplet"></i> 20%</span></p>
                </div>
                <div class="slide-info">
                    <p>20:00</p>
                    <img src="icons\day\113.png">
                    <p>32 C</p>
                    <p class="chance-icon"><span><i class="fa-solid fa-droplet"></i> 20%</span></p>
                </div>
                <div class="slide-info">
                    <p>20:00</p>
                    <img src="icons\day\113.png">
                    <p>32 C</p>
                    <p class="chance-icon"><span><i class="fa-solid fa-droplet"></i> 20%</span></p>
                </div>
                <div class="slide-info">
                    <p>20:00</p>
                    <img src="icons\day\113.png">
                    <p>32 C</p>
                    <p class="chance-icon"><span><i class="fa-solid fa-droplet"></i> 20%</span></p>
                </div>
                <div class="slide-info">
                    <p>20:00</p>
                    <img src="icons\day\113.png">
                    <p>32 C</p>
                    <p class="chance-icon"><span><i class="fa-solid fa-droplet"></i> 20%</span></p>
                </div>
                <div class="slide-info">
                    <p>20:00</p>
                    <img src="icons\day\113.png">
                    <p>32 C</p>
                    <p class="chance-icon"><span><i class="fa-solid fa-droplet"></i> 20%</span></p>
                </div>
                <div class="slide-info">
                    <p>20:00</p>
                    <img src="icons\day\113.png">
                    <p>32 C</p>
                    <p class="chance-icon"><span><i class="fa-solid fa-droplet"></i> 20%</span></p>
                </div>
                <div class="slide-info">
                    <p>20:00</p>
                    <img src="icons\day\113.png">
                    <p>32 C</p>
                    <p class="chance-icon"><span><i class="fa-solid fa-droplet"></i> 20%</span></p>
                </div>
                <div class="slide-info">
                    <p>20:00</p>
                    <img src="icons\day\113.png">
                    <p>32 C</p>
                    <p class="chance-icon"><span><i class="fa-solid fa-droplet"></i> 20%</span></p>
                </div>
                <div class="slide-info">
                    <p>20:00</p>
                    <img src="icons\day\113.png">
                    <p>32 C</p>
                    <p class="chance-icon"><span><i class="fa-solid fa-droplet"></i> 20%</span></p>
                </div>
                <div class="slide-info">
                    <p>20:00</p>
                    <img src="icons\day\113.png">
                    <p>32 C</p>
                    <p class="chance-icon"><span><i class="fa-solid fa-droplet"></i> 20%</span></p>
                </div>
            </div>
        </div>

        <div id="days-container" class="ripple-hover ripple-click">
            <div class="day-info">
                <div class="first-info-day">
                    <p class="day">Today</p>
                    <p class="daily-chance-icon"><span><i class="fa-solid fa-droplet"></i> 20%</span></p>
                </div>
                    <div class="img-container">
                        <img src="icons\day\113.png" alt="weather icon">
                    </div>
                    <div class="second-info-day">
                    <p>40 C</p>
                    <p>20 C</p>
                </div>
            </div>
            <div class="day-info">
                <div class="first-info-day">
                    <p class="day">Today</p>
                    <p class="daily-chance-icon"><span><i class="fa-solid fa-droplet"></i> 20%</span></p>
                </div>
                    <div class="img-container">
                        <img src="icons\day\113.png" alt="weather icon">
                    </div>
                    <div class="second-info-day">
                    <p>40 C</p>
                    <p>20 C</p>
                </div>
            </div>
            <div class="day-info">
                <div class="first-info-day">
                    <p class="day">Today</p>
                    <p class="daily-chance-icon"><span><i class="fa-solid fa-droplet"></i> 20%</span></p>
                </div>
                    <div class="img-container">
                        <img src="icons\day\113.png" alt="weather icon">
                    </div>
                    <div class="second-info-day">
                    <p>40°</p>
                    <p>20°</p>
                </div>
            </div>
            <div class="day-info">
                <div class="first-info-day">
                    <p class="day">Today</p>
                    <p class="daily-chance-icon"><span><i class="fa-solid fa-droplet"></i> 20%</span></p>
                </div>
                    <div class="img-container">
                        <img src="icons\day\113.png" alt="weather icon">
                    </div>
                    <div class="second-info-day">
                    <p>40 C</p>
                    <p>20 C</p>
                </div>
            </div>
        </div>

        <div id="additional-info-container">
            <div class="info-container">
                <i class="fa-solid fa-sun"></i>
                <p class="info-title">UV index</p>
                <p>Fine</p>
            </div>
            <div class="info-container">
                <i class="fa-solid fa-droplet droplet"></i>
                <p class="info-title">Humidity</p>
                <p>40%</p>
            </div>
            <div class="info-container">
                <i class="fa-solid fa-wind"></i>
                <p class="info-title">Wind</p>
                <p>14 km/h</p>
            </div>
            <div class="info-container">
                <i class="fa-regular fa-sun"></i>
                <div id="stats-container" >
                    <div class="sunrise-down">
                        <p class="info-title">Sunrise</p>
                        <p>07:23</p>
                    </div>
                    <div class="sunrise-down">
                        <p class="info-title">Sundown</p>
                        <p>20:22</p>
                    </div>
                </div>
            </div> 
        </div>


    </div>



    </main>

    <script src="scripts\iconInfo.js" type="module"></script>
    <script src="scripts\calls.js" type="module"></script>
    <script src="scripts\basicFunctions.js" type="module"></script>
    <script src="scripts\appSpecific.js" type="module"></script>
    <script src="scripts\index.js" type="module"></script>

    <script src="addons\ripple.js"></script>
</body>
</html>