:root{
    --bodyBackground: #7CB3F4;
    --fontWhite: #F2FBF8;
    --containerBackground: #5B9BE3;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bodyBackground);
    height: 100vh;
    font-family: 'Kanit', sans-serif;
    display: flex;
    flex-direction: column;
}

/* Header start */

header{
    text-align: center;
}

header h1{
    color: var(--fontWhite);
}

header i {
    position: absolute;
    
    min-width: 40px;
    
}

header #search-input{
    background-color: var(--fontWhite);
    border: none;
    padding: 0.4rem;
    outline: none;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

header #search-btn{
    border: none;
    padding: 0.4rem;
    margin-left: -0.3rem;
    cursor: pointer;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

/* Header End */



/* Start Current Weather */

#current-weather-container{
    color: var(--fontWhite);
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    
}


#weather-icon-holder img{
    width: 8rem;
}

/* End Current Weather */


/* Start Hourly Weather Slider */

#slider {
    position: relative;
    left: 10%;
    width: 80%;
    height: auto;
    margin-top: 1rem;
    overflow: hidden;
    background-color: var(--containerBackground);
    border-radius: 0.5rem;
    user-select: none;
    
} 

#slider-inner{
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.slide-info p {
    color: var(--fontWhite);
    font-size: 1.2rem;
    pointer-events: auto;
}

.slide-info {
    height: 100%;
    text-align: center;
}

.chance-icon span{
    font-size: 0.9rem;
}
/* End Hourly Weather Slider */